[package]
name = "synapse-loaders"
edition.workspace = true
version.workspace = true
license.workspace = true
authors.workspace = true
rust-version.workspace = true

[dependencies]
synapse-retrieval = { path = "../synapse-retrieval" }
thiserror.workspace = true
