[package]
name = "synaptic-redis"
description = "Redis integration for Synaptic: Store and LlmCache"
edition.workspace = true
version.workspace = true
license.workspace = true
readme.workspace = true
authors.workspace = true
rust-version.workspace = true
repository.workspace = true
homepage.workspace = true

[dependencies]
async-trait.workspace = true
serde_json.workspace = true
serde.workspace = true
synaptic-core = { version = "0.2", path = "../synaptic-core" }
redis = { version = "0.27", features = ["tokio-comp", "aio"] }

[dev-dependencies]
tokio.workspace = true
