[package]
name = "streaming"
edition.workspace = true
version.workspace = true
publish = false

[dependencies]
async-stream.workspace = true
async-trait.workspace = true
futures.workspace = true
tokio.workspace = true
synapse = { path = "../../crates/synapse", features = ["models", "runnables"] }
